<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.level3tjg.ablaze</string>
			<key>key</key>
			<string>enableLockScreen</string>
			<key>label</key>
			<string>Lockscreen Player</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.level3tjg.ablaze</string>
			<key>key</key>
			<string>enableLockScreenBG</string>
			<key>label</key>
			<string>Lockscreen Background</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.level3tjg.ablaze</string>
			<key>key</key>
			<string>enableSpotify</string>
			<key>label</key>
			<string>Spotify</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.level3tjg.ablaze</string>
			<key>key</key>
			<string>enableTidal</string>
			<key>label</key>
			<string>Tidal</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.level3tjg.ablaze</string>
			<key>key</key>
			<string>enableBoom</string>
			<key>label</key>
			<string>Boom</string>
		</dict>
		<!-- <dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.level3tjg.ablaze</string>
			<key>key</key>
			<string>enableDeezer</string>
			<key>label</key>
			<string>Deezer</string>
		</dict> -->
        <dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.level3tjg.ablaze</string>
			<key>key</key>
			<string>enableYTMusic</string>
			<key>label</key>
			<string>YouTube Music</string>
		</dict>
				<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.level3tjg.ablaze</string>
			<key>key</key>
			<string>enableMarvis</string>
			<key>label</key>
			<string>Marvis</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.level3tjg.ablaze</string>
			<key>key</key>
			<string>enableMusic</string>
			<key>label</key>
			<string>Apple Music</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Visualize background based on Audio. Only works for Apple Music</string>
			<key>footerAlignment</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.level3tjg.ablaze</string>
			<key>key</key>
			<string>enableVisualize</string>
			<key>label</key>
			<string>Visualize Background</string>
		</dict>
        <dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Change animation scale, makes the animation look sharper. Works everywhere except for the lockscreen player</string>
			<key>footerAlignment</key>
			<integer>0</integer>
		</dict>
        <dict>
            <key>cell</key>
            <string>PSSliderCell</string>
            <key>default</key>
            <integer>1</integer>
            <key>defaults</key>
            <string>com.level3tjg.ablaze</string>
            <key>key</key>
            <string>scale</string>
            <key>min</key>
            <real>1</real>
            <key>max</key>
            <real>5</real>
            <key>showValue</key>
            <true/>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Change animation FPS. Close app / respring for changes to take effect</string>
			<key>footerAlignment</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.level3tjg.ablaze</string>
			<key>key</key>
			<string>customfps</string>
			<key>label</key>
			<string>Custom FPS</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>placeholder</key>
			<string>30</string>
			<key>bestGuess</key>
			<string>30</string>
			<key>defaults</key>
			<string>com.level3tjg.ablaze</string>
			<key>isDecimalPad</key>
			<true/>
			<key>key</key>
			<string>fps</string>
			<key>label</key>
			<string>FPS</string>
		</dict>
	</array>
	<key>title</key>
	<string>Ablaze</string>
</dict>
</plist>
